/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* responsive */
@media (max-width: 991px) {
  .header .nav-toggler {
    display: flex;
    margin-right: 15px;
  }
  .header .nav {
    width: 100%;
    position: absolute;
    background-color: var(--dark-700);
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
  }
  .header #nav-check:checked ~ .nav {
    visibility: visible;
    opacity: 1;
  }
  .header .nav ul li {
    margin: 0;
    display: block;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .home-text h1 span::after {
    bottom: 10px;
  }
  .home-text h2 {
    font-size: 20px;
  }

  .home-img {
    margin-top: 60px;
  }
  .course-item,
  .why-us-item {
    width: calc(50% - 30px);
  }
  .footer-item {
    width: 50%;
  }
  .footer-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .contact-img,
  .contact-form,
  .fun-facts-img,
  .fun-facts-items,
  .home-text,
  .home-img {
    width: 100%;
  }
  .contact-form,
  .fun-facts-items {
    margin-top: 50px;
  }
  .home-text h1 {
    font-size: 35px;
  }
  .home-text h1 span::after {
    bottom: 6px;
  }
  .home-text h2 {
    font-size: 18px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .sec-paddding {
    padding: 70px 0;
  }
}
@media (max-width: 575px) {
  .fun-facts-item,
  .course-item,
  .why-us-item {
    width: calc(100% - 30px);
  }
  .footer-item,
  .review-item {
    width: 100%;
  }
  .review-item {
    text-align: center;
  }
}
